body{
    overflow-y: hidden;
    overflow-x: hidden;
    background: rgb(0,0,60);
}

#bloc{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    color: rgba(255,255,255,0.9);
    justify-content: space-around;
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 18vh;
    transform: translateX(50%);
    margin-top: 50vh;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(50px);
    box-shadow: 20px 20px 40px -6px rgba( 0, 0, 0, 0.2 );
    width: 400px;
    height: 400px;
    border-radius: 5px;
}

#mdp{
    margin-left: 20px;
    margin-right: 20px;
    background: rgba(255,255,255,0.15);
    border: none;
    box-shadow: 4px 4px 60px -6px rgba(0,0,0, 0.1);
    padding: 1em;
    color: #fff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#valider{
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

.button1 {
    color: rgba(255,255,255,1);
    transition: all 0.5s;
    position: relative;
}

.button1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.05);
    transition: all 0.3s;
}

.button1:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}

.button1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.6);
    transform: scale(1.2,1.2);
}

.button1:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 39;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ffd980;
    top: 80%;
    left: 62%;
    animation-duration: 36s;
    animation-delay: -14s;
    transform-origin: 20vw -7vh;
    box-shadow: 2vmin 0 1.0428731990109934vmin currentColor;
}
.background span:nth-child(1) {
    color: #ecc165;
    top: 25%;
    left: 18%;
    animation-duration: 91s;
    animation-delay: -8s;
    transform-origin: 3vw 24vh;
    box-shadow: -2vmin 0 0.3510792744442659vmin currentColor;
}
.background span:nth-child(2) {
    color: #ffd980;
    top: 3%;
    left: 35%;
    animation-duration: 111s;
    animation-delay: -52s;
    transform-origin: 4vw 20vh;
    box-shadow: 2vmin 0 0.533534077854851vmin currentColor;
}
.background span:nth-child(3) {
    color: #ecc165;
    top: 27%;
    left: 89%;
    animation-duration: 92s;
    animation-delay: -52s;
    transform-origin: 12vw -3vh;
    box-shadow: -2vmin 0 0.4317847120886231vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffd980;
    top: 76%;
    left: 97%;
    animation-duration: 59s;
    animation-delay: -7s;
    transform-origin: 13vw -3vh;
    box-shadow: 2vmin 0 0.33072410208394465vmin currentColor;
}
.background span:nth-child(5) {
    color: #ecc165;
    top: 14%;
    left: 2%;
    animation-duration: 99s;
    animation-delay: -68s;
    transform-origin: 5vw -9vh;
    box-shadow: -2vmin 0 0.8118998207779529vmin currentColor;
}
.background span:nth-child(6) {
    color: #ffd980;
    top: 31%;
    left: 11%;
    animation-duration: 81s;
    animation-delay: -4s;
    transform-origin: 8vw 1vh;
    box-shadow: -2vmin 0 1.2169179715735539vmin currentColor;
}
.background span:nth-child(7) {
    color: #ecc165;
    top: 37%;
    left: 86%;
    animation-duration: 35s;
    animation-delay: -46s;
    transform-origin: -10vw 3vh;
    box-shadow: -2vmin 0 1.1895967977903503vmin currentColor;
}
.background span:nth-child(8) {
    color: #ffd980;
    top: 51%;
    left: 50%;
    animation-duration: 67s;
    animation-delay: -8s;
    transform-origin: -16vw 23vh;
    box-shadow: -2vmin 0 0.5586611736282092vmin currentColor;
}
.background span:nth-child(9) {
    color: #ffd980;
    top: 68%;
    left: 28%;
    animation-duration: 58s;
    animation-delay: -32s;
    transform-origin: 16vw 25vh;
    box-shadow: 2vmin 0 0.4849354093078504vmin currentColor;
}
.background span:nth-child(10) {
    color: #ecc165;
    top: 54%;
    left: 6%;
    animation-duration: 23s;
    animation-delay: -82s;
    transform-origin: 0vw -12vh;
    box-shadow: -2vmin 0 0.8976734753720581vmin currentColor;
}
.background span:nth-child(11) {
    color: #ffd980;
    top: 17%;
    left: 32%;
    animation-duration: 43s;
    animation-delay: -23s;
    transform-origin: -9vw 18vh;
    box-shadow: 2vmin 0 1.0369063924270991vmin currentColor;
}
.background span:nth-child(12) {
    color: #ecc165;
    top: 26%;
    left: 70%;
    animation-duration: 113s;
    animation-delay: -2s;
    transform-origin: 5vw 18vh;
    box-shadow: -2vmin 0 1.0512887895566476vmin currentColor;
}
.background span:nth-child(13) {
    color: #ffd980;
    top: 95%;
    left: 48%;
    animation-duration: 34s;
    animation-delay: -36s;
    transform-origin: -7vw 8vh;
    box-shadow: 2vmin 0 0.5650013311566868vmin currentColor;
}
.background span:nth-child(14) {
    color: #ecc165;
    top: 92%;
    left: 7%;
    animation-duration: 18s;
    animation-delay: -67s;
    transform-origin: -15vw 23vh;
    box-shadow: 2vmin 0 0.3208070777306886vmin currentColor;
}
.background span:nth-child(15) {
    color: #ffd980;
    top: 96%;
    left: 86%;
    animation-duration: 58s;
    animation-delay: -43s;
    transform-origin: -8vw 13vh;
    box-shadow: 2vmin 0 0.5864054882752989vmin currentColor;
}
.background span:nth-child(16) {
    color: #ecc165;
    top: 88%;
    left: 70%;
    animation-duration: 110s;
    animation-delay: -93s;
    transform-origin: -3vw 9vh;
    box-shadow: -2vmin 0 1.1547556215090713vmin currentColor;
}
.background span:nth-child(17) {
    color: #ffd980;
    top: 71%;
    left: 61%;
    animation-duration: 29s;
    animation-delay: -49s;
    transform-origin: 21vw -2vh;
    box-shadow: -2vmin 0 1.1747092567785997vmin currentColor;
}
.background span:nth-child(18) {
    color: #ffd980;
    top: 96%;
    left: 100%;
    animation-duration: 49s;
    animation-delay: -63s;
    transform-origin: -1vw 12vh;
    box-shadow: 2vmin 0 0.28481457052009773vmin currentColor;
}
.background span:nth-child(19) {
    color: #ffd980;
    top: 75%;
    left: 52%;
    animation-duration: 105s;
    animation-delay: -107s;
    transform-origin: -23vw -2vh;
    box-shadow: 2vmin 0 0.33637719003629774vmin currentColor;
}
.background span:nth-child(20) {
    color: #ffd980;
    top: 30%;
    left: 37%;
    animation-duration: 13s;
    animation-delay: -36s;
    transform-origin: 24vw 18vh;
    box-shadow: 2vmin 0 1.0335416697044026vmin currentColor;
}
.background span:nth-child(21) {
    color: #ecc165;
    top: 8%;
    left: 26%;
    animation-duration: 58s;
    animation-delay: -49s;
    transform-origin: 14vw -19vh;
    box-shadow: -2vmin 0 0.9365530557152053vmin currentColor;
}
.background span:nth-child(22) {
    color: #ecc165;
    top: 80%;
    left: 4%;
    animation-duration: 109s;
    animation-delay: -102s;
    transform-origin: -19vw -11vh;
    box-shadow: 2vmin 0 0.43171196558611413vmin currentColor;
}
.background span:nth-child(23) {
    color: #ffd980;
    top: 95%;
    left: 17%;
    animation-duration: 79s;
    animation-delay: -97s;
    transform-origin: 4vw 15vh;
    box-shadow: 2vmin 0 0.9003696428656172vmin currentColor;
}
.background span:nth-child(24) {
    color: #ecc165;
    top: 75%;
    left: 20%;
    animation-duration: 95s;
    animation-delay: -83s;
    transform-origin: 11vw -22vh;
    box-shadow: -2vmin 0 0.4609852485100292vmin currentColor;
}
.background span:nth-child(25) {
    color: #ecc165;
    top: 41%;
    left: 35%;
    animation-duration: 79s;
    animation-delay: -74s;
    transform-origin: 11vw 18vh;
    box-shadow: 2vmin 0 1.0205468730708973vmin currentColor;
}
.background span:nth-child(26) {
    color: #ecc165;
    top: 82%;
    left: 27%;
    animation-duration: 90s;
    animation-delay: -54s;
    transform-origin: 10vw 19vh;
    box-shadow: 2vmin 0 0.7288088904630143vmin currentColor;
}
.background span:nth-child(27) {
    color: #ffd980;
    top: 7%;
    left: 18%;
    animation-duration: 83s;
    animation-delay: -40s;
    transform-origin: 2vw -24vh;
    box-shadow: -2vmin 0 0.9819780840105472vmin currentColor;
}
.background span:nth-child(28) {
    color: #ecc165;
    top: 46%;
    left: 41%;
    animation-duration: 72s;
    animation-delay: -102s;
    transform-origin: 20vw 9vh;
    box-shadow: -2vmin 0 0.7788098802113779vmin currentColor;
}
.background span:nth-child(29) {
    color: #ecc165;
    top: 54%;
    left: 96%;
    animation-duration: 86s;
    animation-delay: -19s;
    transform-origin: 2vw 4vh;
    box-shadow: -2vmin 0 0.7689597074651988vmin currentColor;
}
.background span:nth-child(30) {
    color: #ffd980;
    top: 79%;
    left: 51%;
    animation-duration: 83s;
    animation-delay: -61s;
    transform-origin: 4vw -18vh;
    box-shadow: 2vmin 0 0.8105656192212711vmin currentColor;
}
.background span:nth-child(31) {
    color: #ecc165;
    top: 5%;
    left: 84%;
    animation-duration: 26s;
    animation-delay: -70s;
    transform-origin: 3vw -13vh;
    box-shadow: 2vmin 0 0.29686328557490826vmin currentColor;
}


